body
{
  padding: 30px;
  background-color: #fcfcfc;
}
.center-div
{
  margin: 0 auto;
  width: 600px;
  height: 600px;
  background-color: #ccc;
  border-radius: 3px;
}
.center-div-inner
{
  margin: 0 auto;
  width: 400px;
  height: 400px;
  background-color: #ccc;
  border-radius: 3px;
}